<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %>

<div class="container" style="padding: 20px;">
<form action="/home">
  <h5>If you would like to get in touch with me, send me a message!</h5>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" style="width: 400px;">
    <div id="emailHelp" class="form-text"></div>
  </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" style="width: 400px;">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Your Message</label>
      <input type="text" class="form-control" id="message" style="width: 400px; height: 200px;">
    </div>
    <button id="submit" type="submit" class="btn btn-primary">Reach me!</button>
</form>
</div>

<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %> 
