/* 
File name: app.css
Student Name: Roman Gagarin
Student #: 300866285
Date: October 18th, 2021
*/

/* custom css goes here */
img {
    max-width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px;
    object-fit: contain;
    border-radius: 5px;
  }
  